@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    /* opacity: 0.5; */
}

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 100%, 74%);
    background-image: url('images/bg-intro-desktop.png');
}

main {
    width: 78%;
    height: 100vh;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

.left {
    width: 50%;
    padding: 10px;
}

.heading {
    margin-bottom: 20px;
}

h1 {
    font-weight: 900;
    font-size: xx-large;
}

h1, p {
    color: white;
}

p {
    line-height: 25px;
}

.right {
    height: 60vh;
    width: 50%;
}

strong {
    background-color: #5D54A3;
    color: #fff;
}

.card {
    background-color: #5D54A3;
    /* opacity: 1; */
    width: 100%;
    padding: 10px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #5D54A3;
    padding: 10px;
    /* box-shadow: 10px 3px 1px 2px #5D54A3; */
    /* box-shadow: #5D54A3 0px 25px 20px -20px; */
    box-shadow: 0 16px 6px -10px rgb(207,104,113);
}

.form {
    margin-top: 20px;
    background-color: #fff;
    width: 100%;
    padding: 10px;
    height: 90%;
    border-radius: 5px;
}

form {
    
    padding: 20px;
    margin: 15px;
}

input{
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 20px;
}

input:focus {
    outline: none !important;
    border-color: gray;
    border:1px solid gray;
  }

input[type=submit] {
    background-color: #37CC8A;
    color: white;
    border: none;
    cursor: pointer;
    border: 2px solid #21ac6d;
}

.btnText {
    color: gray;
    font-size: x-small;
    text-align: center;
}

.btnText  span {
    color: red;
}

